* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

body {
    background-color: rgb(206, 206, 206);
    box-sizing: border-box;
}

.title {
    position: absolute;
    margin: 15px 10px 0 25px;
    padding: 5px;
    display: inline-block;
    width: 350px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 7px solid;
    box-shadow: 7px 7px rgba(0, 0, 0, .70);
    cursor:pointer
}

.ititle:hover {
    border-color: rgb(25, 25, 25)
}

.title:active {
    width: 348px;
    height: 58px;
    border: solid black 6px ;
    box-shadow: 5px 5px rgba(0, 0, 0, .70);
    font-size:49px;
}

.icon{
    position: absolute;
    display: inline-block;
    margin: 0;
    float: left;
    border: solid black 5px ;
    width:50px;
    height:50px;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) 7px solid;
    box-shadow: 7px 7px rgba(0, 0, 0, .70);
    cursor: pointer;
}

.icon:hover {
    border-color: rgb(25, 25, 25)
}

.icon:active {
    width:48px;
    height:48px;
    border: solid black 6px ;
    box-shadow: 5px 5px rgba(0, 0, 0, .70);
}

#mic {
    margin: 34px 415px;
}

#color {
    margin: 34px 495px;
}

#export {
    margin: 34px 655px;
}

#fontSize {
    margin: 34px 575px;
    padding: 0;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

#fontSize p {
    margin: 0;
}

#fontSize:active {
    font-size: 34px;
}

.about {
    position: absolute;
    display: inline-block;
    margin: 34px 735px;
    width: 115px;
    height: 50px;
    border: rgb(0, 0, 0) 7px solid;
    box-shadow: 7px 7px rgba(0, 0, 0, .70);
    font-family: 'Roboto', sans-serif;    
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.about:hover {
    border-color: rgb(25, 25, 25)
}

.about:active {
    width: 113px;
    height: 48px;
    border: solid black 6px ;
    box-shadow: 5px 5px rgba(0, 0, 0, .70);
    font-size: 31px
}

.nav{
    width: 100%;
    margin: 0;
    height: 120px;
}
.textbox{
    background-color: rgb(44, 44, 44);
    margin: auto;
    padding: 1px;
    width: 98%;
    height: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
}

.textbox p{
    margin: 30px;
}

.textbox.dark {
    background-color: rgb(19, 19, 19);
    color: white;
}

.textbox.light {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}

.textbox.red {
    background-color: rgb(95, 35, 35);
    color: rgb(255, 255, 255);
}

.textbox.orange {
    background-color: rgba(196, 95, 0);
    color: rgb(255, 255, 255);
}

.textbox.yellow {
    background-color: rgb(209, 195, 72);
    color: rgb(0, 0, 0);
}

.textbox.green {
    background-color: rgb(15, 37, 15);
    color: rgb(255, 255, 255);
}

.textbox.blue {
    background-color: rgb(28, 63, 139);
    color: rgb(255, 255, 255);
}

.textbox.navy {
    background-color: rgb(14, 15, 26);
    color: rgb(255, 255, 255);
}

.textbox.purple {
    background-color: rgb(20, 9, 20);
    color: rgb(255, 255, 255);
}